:root {
	--black: rgb(26, 26, 26);
	--dark: rgb(67, 74, 84);
	--gray: rgb(101, 109, 120);

	--dark-red: rgb(219, 68, 83);
	--light-red: rgb(237, 85, 100);
	--dark-orange: rgb(233, 87, 62);
	--light-orange: rgb(251, 110, 82);
	--dark-yellow: rgb(246, 187, 67);
	--light-yellow: rgb(255, 206, 85);
	--dark-green: rgb(140, 192, 81);
	--light-green: rgb(160, 212, 104);
	--dark-mint: rgb(54, 188, 155);
	--light-mint: rgb(72, 207, 174);
	--dark-aqua: rgb(59, 174, 218);
	--light-aqua: rgb(79, 192, 232);
	--dark-blue: rgb(75, 137, 220);
	--light-blue: rgb(93, 156, 236);
	--dark-purple: rgb(150, 123, 220);
	--light-purple: rgb(172, 146, 237);
	--dark-pink: rgb(216, 112, 173);
	--light-pink: rgb(236, 135, 191);

	--silver: rgb(204, 208, 217);
	--light: rgb(230, 233, 238);
	--white: rgb(246, 247, 251);
}
