body {
	font-family: 'Asap', sans-serif;
	color: var(--color-text);
	background-color: var(--color-bg);
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--sm);
	min-height: 100dvh;
	padding: var(--md);
	border: solid 1px red;
}

section {
	display: flex;
	flex-wrap: wrap;
	min-height: calc(var(--md) * 3);
	padding: var(--padding-container);
	border-radius: var(--radius);
	border: none;
	background-color: var(--color-component);
	box-shadow: var(--shadow);
}
