section {
	display: flex;
	flex-wrap: wrap;
	min-height: calc(var(--md) * 3);
	padding: var(--padding-section);
	border-radius: var(--radius-1);
	border: none;
	background-color: var(--color-component);
	box-shadow: var(--shadow);
}
