/* input {
	appearance: none;
} */

input[type='text'] {
	height: calc(var(--base) * 3);
	padding: var(--padding-container);
	border-radius: var(--radius);
	border: solid 2px var(--color-bg2);
	outline: none;
	background-color: transparent;
	color: var(--color-text1);
}
