/* DEFAULT */
:root {
	--color-bg: var(--black1);
	--color-component: var(--black2);

	--color-text: var(--white1);
	--color-subtext: var(--gray);

	--color-error: var(--red);
	--color-success: var(--green1);
	--color-focus: var(--white2);
}
