:root {
	--base: clamp(1rem, 1vw + 0.5rem, 2rem);

	--xxs: calc(var(--base) * 0.25);
	--xs: calc(var(--base) * 0.5);
	--sm: calc(var(--base) * 0.75);
	--md: var(--base);
	--lg: calc(var(--base) * 1.25);
	--xl: calc(var(--base) * 1.5);
	--xxl: calc(var(--base) * 1.75);

	--black-1: rgb(0, 0, 0);
	--black-2: rgb(38, 38, 38);
	--black-3: rgb(77, 82, 80);
	--white-1: rgb(255, 255, 255);
	--white-2: rgb(250, 250, 250);
	--gray: rgb(165, 165, 165);
	--red: rgb(249, 65, 68);
	--orange-1: rgb(243, 114, 44);
	--orange-2: rgb(248, 150, 30);
	--yellow: rgb(249, 199, 79);
	--green-1: rgb(67, 170, 139);
	--green-2: rgb(112, 207, 171);
	--blue-1: rgb(87, 117, 144);
	--blue-2: rgb(39, 125, 161);
	--purple: rgb(123, 44, 191);

	--padding-container: var(--md);
	--padding-input: calc(var(--md) * 0.25) var(--md);

	--border: solid 2px;

	--radius: var(--lg);

	--shadow: rgba(97, 97, 97, 0.4) 0px 8px 24px;

	--transition: 0.25s ease-in-out;

	--z-base: 1;
	--z-grayout: 8;
	--z-popup: 9;
	--z-backout: 10;
}
