:root {
	--base: clamp(1rem, 1vw + 0.5rem, 2rem);

	--xxs: calc(var(--base) * 0.25);
	--xs: calc(var(--base) * 0.5);
	--sm: calc(var(--base) * 0.75);
	--md: var(--base);
	--lg: calc(var(--base) * 1.25);
	--xl: calc(var(--base) * 1.5);
	--xxl: calc(var(--base) * 1.75);

	--header-h: calc(var(--md) * 3);
	--footer-h: calc(var(--md) * 3.5);

	--padding-main: calc(var(--header-h) + var(--xs)) var(--sm) calc(var(--footer-h) + var(--xs));
	--padding-section: var(--sm);
	--padding-input: calc(var(--md) * 0.25) var(--md);

	--border: solid 2px;

	--radius-1: var(--md);
	--radius-2: var(--lg);

	--shadow-component: rgba(97, 97, 97, 0.4) 0px 8px 24px;
	--shadow-dark-aqua: rgba(59, 174, 218, 0.8) 0 0 12px;

	--transition: 0.25s ease-in-out;

	--z-base: 1;
	--z-grayout: 7;
	--z-popup: 8;
	--z-splash: 9;
	--z-backout: 10;
}
